## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gmaps_key

# Configure gmaps API key
gmaps.configure(api_key=gmaps_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Kodiak,57.7900,-152.4072,30.60,93,100,11.10,US,snow,2022-01-09 06:47:54
1,1,Kannur,11.8675,75.3576,85.15,58,8,7.78,IN,clear sky,2022-01-09 06:47:39
2,2,Port Elizabeth,-33.9180,25.5701,78.10,83,75,17.27,ZA,broken clouds,2022-01-09 06:43:13
3,3,Kazerun,29.6195,51.6541,58.41,29,0,1.05,IR,clear sky,2022-01-09 06:47:55
4,4,Maarianhamina,60.0973,19.9348,31.86,100,100,5.75,AX,fog,2022-01-09 06:47:55

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
1,1,Kannur,11.8675,75.3576,85.15,58,8,7.78,IN,clear sky,2022-01-09 06:47:39
2,2,Port Elizabeth,-33.9180,25.5701,78.10,83,75,17.27,ZA,broken clouds,2022-01-09 06:43:13
5,5,Butaritari,3.0707,172.7902,79.79,84,100,17.22,KI,moderate rain,2022-01-09 06:47:56
9,9,Cape Town,-33.9258,18.4232,78.10,59,0,14.97,ZA,clear sky,2022-01-09 06:43:13
11,11,Hermanus,-34.4187,19.2345,82.80,72,0,3.22,ZA,clear sky,2022-01-09 06:47:58
13,13,Atuona,-9.8000,-139.0333,78.91,71,20,16.78,PF,few clouds,2022-01-09 06:47:59
16,16,Busselton,-33.6500,115.3333,76.08,35,39,16.20,AU,scattered clouds,2022-01-09 06:48:00
22,22,Ballina,-28.8667,153.5667,82.58,78,100,13.80,AU,overcast clouds,2022-01-09 06:48:03
25,25,East London,-33.0153,27.9116,76.14,83,20,11.50,ZA,few clouds,2022-01-09 06:43:40
26,26,Port Alfred,-33.5906,26.8910,77.25,76,2,22.75,ZA,clear sky,2022-01-09 06:48:04

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                176
City                   176
Lat                    176
Lng                    176
Max Temp               176
Humidity               176
Cloudiness             176
Wind Speed             176
Country                171
Current Description    176
Date                   176
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
1,1,Kannur,11.8675,75.3576,85.15,58,8,7.78,IN,clear sky,2022-01-09 06:47:39
2,2,Port Elizabeth,-33.9180,25.5701,78.10,83,75,17.27,ZA,broken clouds,2022-01-09 06:43:13
5,5,Butaritari,3.0707,172.7902,79.79,84,100,17.22,KI,moderate rain,2022-01-09 06:47:56
9,9,Cape Town,-33.9258,18.4232,78.10,59,0,14.97,ZA,clear sky,2022-01-09 06:43:13
11,11,Hermanus,-34.4187,19.2345,82.80,72,0,3.22,ZA,clear sky,2022-01-09 06:47:58
...,...,...,...,...,...,...,...,...,...,...,...
683,683,Teshie,5.5836,-0.1072,81.30,76,33,7.07,GH,scattered clouds,2022-01-09 07:07:30
689,689,Turan,16.0678,108.2208,77.05,78,75,5.75,VN,broken clouds,2022-01-09 07:05:24
690,690,Belmonte,-15.8631,-38.8828,77.50,85,100,11.41,BR,overcast clouds,2022-01-09 07:07:33
694,694,Kaele,10.1092,14.4508,78.17,20,100,10.80,CM,overcast clouds,2022-01-09 07:08:34
700,700,Bahia Blanca,-38.7196,-62.2724,78.91,26,74,15.77,AR,broken clouds,2022-01-09 07:08:37

In [7]:
preferred_cities_df.describe()

,City_ID,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
count,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000
mean,341.301136,-4.621780,45.082209,80.680114,67.034091,57.857955,8.007955
std,207.738394,16.530931,80.753483,3.687085,19.908332,39.016586,5.407020
min,1.000000,-43.533300,-175.200000,75.000000,16.000000,0.000000,0.670000
25%,139.500000,-18.296700,8.727800,77.425000,58.000000,20.000000,3.995000
50%,343.000000,-2.662050,42.594750,80.545000,73.000000,65.000000,7.260000
75%,522.250000,7.720250,110.336025,83.077500,81.000000,100.000000,10.180000
max,700.000000,27.916700,172.790200,89.780000,100.000000,100.000000,28.770000

In [8]:
clean_df = preferred_cities_df.dropna()

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kannur,IN,85.15,clear sky,11.8675,75.3576,
2,Port Elizabeth,ZA,78.10,broken clouds,-33.9180,25.5701,
5,Butaritari,KI,79.79,moderate rain,3.0707,172.7902,
9,Cape Town,ZA,78.10,clear sky,-33.9258,18.4232,
11,Hermanus,ZA,82.80,clear sky,-34.4187,19.2345,
13,Atuona,PF,78.91,few clouds,-9.8000,-139.0333,
16,Busselton,AU,76.08,scattered clouds,-33.6500,115.3333,
22,Ballina,AU,82.58,overcast clouds,-28.8667,153.5667,
25,East London,ZA,76.14,few clouds,-33.0153,27.9116,
26,Port Alfred,ZA,77.25,clear sky,-33.5906,26.8910,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df  = hotel_df[hotel_df["Hotel Name"] != ""]

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))